@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #ffffff;
    --text-color: #000000;
    --primary-color: #00ff08;
    --secondary-color: #000;
    --alpha-color: #ffffff;
    --shadow: 0 15px 40px var(--alpha-color);
}

html {
    background: var(--background);
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    max-width: auto;
    position: relative;
    font-family: 'roboto', sans-serif;
    color: var(--text-color);
}

::-webkit-scrollbar {
    display: none;
}


/* home section */

.home-section {
    width: 100%;
    height: 100%;
    padding-bottom: 125px;
}

.overflow {
    overflow-y: auto;
}


/* user name input */

.userInput {
    position: fixed;
    overflow: hidden;
    display: block;
    height: 150px;
    width: 290px;
    background-color: white;
    border-radius: 20px;
    z-index: 20;
    box-shadow: 0 0 500px 400px #001023;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.userInput input {
    all: unset;
    text-align: center;
    border-bottom: 2px solid;
    height: 50px;
    width: 100%;
    font-size: 30px;
}

.userInput button {
    all: unset;
    background-color: aquamarine;
    width: 44px;
    height: 37px;
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%)
}

.userInput p {
    font-size: 20px;
    position: absolute;
    margin: -84px 11px;
    color: red;
}

.hideform {
    display: none;
}


/* Navigation bar */

.menu-toggle {
    display: block;
    position: fixed;
    top: 0;
    margin: 10px;
    z-index: 1;
}

.menu-toggle span {
    margin: 3px;
    display: block;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    z-index: 999;
}

.menu-toggle span:nth-child(1) {
    width: 25px;
    height: 3px;
    border-radius: 5px;
}

.menu-toggle span:nth-child(2) {
    width: 25px;
    height: 3px;
    border-radius: 5px;
}

.menu-toggle span:nth-child(3) {
    width: 25px;
    height: 8px;
    border-radius: 2px;
}

#greet {
    width: 100%;
    height: 150px;
    position: relative;
    margin: 53px 0px 9px;
    z-index: -10;
    overflow-y: auto;
}

.greeting {
    position: absolute;
    margin: 10px 15px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #00bfff;
}

.showname {
    position: absolute;
    font-size: 25px;
    margin: 49px 0px 5px 15px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

.disappear {
    transition: 1s ease-out;
    opacity: 0;
}

.disappear+.search-bar {
    transform: translateY(-36px);
    transition: transform 1s;
}


/* searchbar */

.search-bar {
    width: 90%;
    height: 55px;
    background: white;
    margin: auto;
    margin-top: -65px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px -5px grey;
    display: flex;
}

.search-bar input {
    all: unset;
    width: 100%;
    height: 100%;
    font-size: 23px;
}

.search-bar i {
    margin: 12px 15px;
    font-size: 25px;
    color: #00bfff;
}

.sticky {
    position: fixed;
    margin: -168px 10px 0 0;
    width: 80%;
    z-index: 1;
    right: 0;
}

.heading {
    margin: 30px 15px 10px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 25px;
    color: #00bfff;
    letter-spacing: 2px;
}


/* playlist card */

.playlists-group {
    position: relative;
    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 5px;
}

.playlist-card {
    flex: 0 0 auto;
    max-width: 150px;
    height: 100%;
    margin-right: 20px;
    border-radius: 20px;
}

.playlist-card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
    margin-top: 10px;
}

.playlist-card-name {
    width: 100%;
    text-align: justify;
    font-size: 20px;
    text-transform: capitalize;
    padding: 5px;
}


/* music player - minimise view*/

.music-player-section {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    display: inline-block;
    left: 0;
    background: var(--alpha-color);
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 25px 2px black;
}

.music-seek-bar {
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    top: -4px;
    height: 5px;
    background: #adadad;
    overflow: hidden;
}

.music-seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 5px;
    background-color: white;
    cursor: pointer;
    box-shadow: -800px 0 0 800px var(--primary-color);
}

.cover {
    width: 6vh;
    height: 6vh;
    object-fit: cover;
    margin: 15px 13px 138px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.current-song-name {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;
    position: absolute;
    margin: 16px 0px 0px 82px;
}

.controls {
    position: relative;
    width: 80%;
    margin: -178px 0px 0px 222px;
    right: 0;
    justify-content: center;
    align-items: center;
    height: 26px;
    font-size: 20px;
    display: flex;
    width: auto;
}

.controls span {
    display: none;
    opacity: 0;
    transition: 1s;
}

.music-player-section.active .controls {
    justify-content: space-between;
}

.music-player-section.active .fa-play-circle,
.music-player-section.active .fa-pause-circle {
    border: none;
    font-size: 70px;
    text-shadow: 0 0 10px #858585;
    border-radius: 50px;
    color: white;
    background-color: #000;
    position: absolute;
    margin: -18px -37px;
}

.music-player-section.active .controls span {
    font-size: 25px;
    display: block;
    opacity: 0.5;
}

.music-player-section.active .controls span.active {
    color: var(--primary-color);
    opacity: 1;
}

.controls .main i {
    margin: 0 25px;
    display: none;
}

.music-player-section.active .controls .main i:nth-child(2) {
    margin: -13px -38px;
}

.music-player-section.active .controls .main i:nth-child(1) {
    margin-right: 60px;
}

.music-player-section.active .controls .main i:nth-child(3) {
    margin: -13px -38px;
}

.music-player-section.active .controls .main i:nth-child(4) {
    margin-left: 60px;
}

.controls .main i.active {
    display: inline;
}


/* music player maximise view */

.music-player-section .hide {
    display: none;
    opacity: 0;
}

.music-player-section.active .hide {
    display: block;
    opacity: 1;
}

.music-player-section.active {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    overflow: none;
}

.music-player-section.active .music-seek-bar {
    position: relative;
    display: block;
    border-radius: 50px;
    margin: auto;
}

.music-player-section.active .current-song-name {
    margin: 18px 119px;
    font-size: 40px;
}

.music-player-section.active .artist-name {
    font-size: 25px;
    margin: 68px 0px -17px 140px;
}

.music-player-section.active .controls {
    width: 100%;
    font-size: 35px;
    display: flex;
    margin: auto;
    margin: 72px 0px;
}

.artist-name {
    text-transform: capitalize;
    position: absolute;
    margin: 42px 0px -17px 83px;
}

.music-player-section.active .cover {
    width: 35vh;
    height: 35vh;
    object-fit: cover;
    margin: 139px 33px 86px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.current-time {
    position: absolute;
    margin-top: 5px;
    left: 30px;
}

.duration {
    position: absolute;
    margin-top: 5px;
    right: 30px;
}

.icon {
    position: absolute;
    top: 60px;
    transform: scale(1.3);
}

.back-btn {
    left: 40px;
    background-color: #4e4e4e;
}

.nav-btn {
    right: 40px;
    background-color: #4e4e4e;
}

.volume-slider {
    -webkit-appearance: none;
    width: 180px;
    height: 40px;
    position: absolute;
    right: -73px;
    bottom: 123px;
    transform: rotate(-90deg);
    border-radius: 20px;
    background: rgb(219, 219, 219);
    overflow: hidden;
    opacity: 0;
    display: none;
}

.volume-slider.active {
    opacity: 1;
    display: block;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0px;
    width: 0px;
    background: var(--primary-color);
    box-shadow: -400px 0 0 400px var(--primary-color);
}


/* playlist section */

.playlist {
    width: 90%;
    height: 50%;
    position: fixed;
    border-radius: 20px;
    bottom: -40%;
    margin: 0px 25px;
    padding: 30px 0;
    background: var(--background);
    z-index: 3;
    transition: 1s;
    box-shadow: 0 0 20px -5px #646464;
    opacity: 0;
    display: none;
}

.music-player-section.active+.playlist {
    opacity: 1;
    display: block;
}

.playlist.active {
    bottom: -6%;
    overflow-y: auto;
}

.title {
    position: fixed;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin: -23px 5px 48px 111px;
    text-transform: capitalize;
}

.outerqueue {
    margin: 50px 0px;
}

.queue {
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--alpha-color);
}

.queue-cover {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
}

.queue-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.queue-cover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: var(--primary-color);
    display: none;
}

.queue.active i {
    display: block;
}

.queue .name {
    font-size: 22px;
    text-transform: capitalize;
}