@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Montserrat, sans-serif ;
    letter-spacing: 0.035rem;
}

